.root {
    -fx-background-color: #ffffff;
}
.root > *.button-bar > *.container{
    -fx-background-color: #ffffff;
}
.root *.header-panel{
    -fx-background-color: #ffffff;
}
.root *.header-panel *.label{
	-fx-background-color: #ffffff;
    -fx-fill: #000000;
}